<ion-view view-title="New Task">
    <ion-content class="padding create-project-container">
    <div class="row">
        <div class="col">
        <form name="newTaskForm" ng-submit="newTask(newTaskForm)">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="data.name" placeholder="Task name">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="data.description" placeholder="Description">
                </label>
            </div>
            <div>
                <button type="submit" class="button button-full button-assertive ink">Create task</button>
            </div>
        </form>
        </div>
    </div>
    </ion-content>
</ion-view>