<ion-view view-title="Dashboard">
    <ion-content class="projects-container padding">
        <div class="row">
            <div class="col col-75">
                <h2 class="title padding light">Administracion</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="boton" ng-click="go('tab.centralVuelo')">
                    <h1><i class="icon ion-plane"></i></h1>
                    <h3>Central de Vuelos</h3>
                </button>
                <button class="boton" ng-click="go('tab.centralTripulacion')">
                    <h1><i class="icon ion-person"></i></h1>
                    <h3>Central de Tripulacion</h3>
                </button>
                <button class="boton" ng-click="go('tab.pasajero')">
                    <h1><i class="icon ion-ios-people"></i></h1>
                    <h3>Pasajeros</h3>
                </button>
                <button class="boton">
                    <h1><i class="icon ion-earth"></i></h1>
                    <h3>Reportes por Sectores Globales</h3>
                </button>
                <button class="boton">
                    <h1><i class="icon ion-ribbon-b"></i></h1>
                    <h3>Reportes por Cliente Lealtad</h3>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </ion-content>
</ion-view>
